<!--{%extends "base-layout.twig"%}-->
<!--{%block main_content%}-->
<div class="row-fluid">
    <div class="span12">
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    重庆时时彩(<!--{{data.dui}}-->/<!--{{zong}}-->--[<!--{{bili}}-->%])
                </h3>
                <div class="actions">
                    <form action="<!--{{url('ssc/home/xlist')}}-->" class="">
                        <table class="table-filter">
                            <tr>

                                <td><span class="label label-blue">开始时间</span>
                                    <div class="input-append date " >
                                        <input name="startDate" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" type="text" class="input-medium datetimepicker" id="date_timepicker_start" value="<!--{{search.startDate}}-->" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td><span class="label label-blue">结束时间</span>
                                    <div class="input-append date "  data-date="">
                                        <input name="endDate" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})" type="text" class="input-medium datetimepicker"  value="<!--{{search.endDate}}-->" id="date_timepicker_end" readonly>
                                        <span class="add-on"><i class="icon-calendar"></i></span>
                                    </div>
                                </td>
                                <td>
                                    <input name="count" type="text" class="input-medium" placeholder="条数" value="<!--{{search.count}}-->">
                                </td>
                                <td><button class="btn btn-teal">查询</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin">
                    <thead>
                    <tr>
                        <th class="col-120">期次</th>
                        <th class="col-120">开奖号</th>
                        <th class="col-120">前三</th>
                        <th class="col-120">后三</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--{%for item in data%}-->
                    <tr>
                        <td><!--{{item.qici}}--></td>
                        <td><!--{{item.num}}--></td>
                        <td><!--{{rule[item.zai1]}}--></td>
                        <td><!--{{rule[item.zai2]}}--></td>
                    </tr>
                    <!--{%endfor%}-->

                    </tbody>
                </table>
                <div class="pagelink">
                    <!--{{pagelinks}}-->
                </div>
            </div>
        </div>
    </div>
</div>
<!--{%endblock%}-->

<!--{%block footer_js%}-->
<script>
    $(function(){
        $(".ajax-del").click(function(){
            var obj = $(this);
            var id = $(this).data('id');

            if(!confirm("是否删除？")){
                return false;
            }
            $.post('<!--{{url('ssc/anchor/ajax-del')}}-->',{id:id},function(data){
                if(data.success == 'true'){
                    window.location.href = window.location.href;
                }
            },"json");
        });
    });
</script>
<script src="/static/js/laydate/laydate.js"></script>
<!--{%endblock%}-->